@page "/options2.html"
@inherits ViewModels.OptionViewModel
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
            Логин
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" @onkeypress="this.OnKeyPress" placeholder="Username" @bind-value="this.LoginRequestDTO.login">
    </div>
    <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
            Пароль
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" @onkeypress="this.OnKeyPress" placeholder="******************" @bind-value="this.LoginRequestDTO.password">
        <p class="text-gray text-xs italic">@Status</p>
    </div>
    <div class="flex items-center justify-center">
        <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-6 rounded" type="button" @onclick="this.DoLoginRequest">
            Войти
        </button>
    </div>
</div>