@page "/options.html"
@inherits OptionModule.Presentation.ViewModels.OptionViewModel
@if(this.Active)
{
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
            Логин
        </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" @onkeypress="this.OnKeyPress" placeholder="Имя пользователя" @bind=this.UserName @bind:event="oninput">
    </div>
    <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
            Пароль
        </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" @onkeypress="this.OnKeyPress" placeholder="******************" @bind=this.Password @bind:event="oninput">
        <p class="text-gray text-xs italic">@this.Status</p>
    </div>
    <div class="flex items-center justify-center">
        <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-6 rounded" type="button" @onclick="this.Login">
            Войти
        </button>
    </div>
</div>
}
else
{
    <div role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: @this.Progress"></div>
}